
*{
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
    line-height:1.5em;
}

html, body{
    height:100%;
}

body{
    background:#fff;
    font-family: arial, helvetica, sans-serif;
    color:#333333;
    flex-direction:column;
    min-height:100%;
    overflow-y:scroll;
}

input, submit, select, textarea, button{
    font-size:inherit;
}

ul, ol{
    list-style-type:none;
}

a{
    color:inherit;
    text-decoration:inherit;
}

a:hover{
    cursor:pointer;
}

h1{
    display:block;
    font-size:1.6em;
    margin-bottom: 20px;
}

@font-face {
    font-family: 'longmaneltdict';
    src:url(/external/fonts/longmaneltdict.eot?version=1.1.49);
    src:url(/external/fonts/longmaneltdict.eot?version=1.1.49) format('embedded-opentype'),
        url(/external/fonts/longmaneltdict.ttf?version=1.1.49) format('truetype'),
        url(/external/fonts/longmaneltdict.woff?version=1.1.49) format('woff');
    font-weight: normal;
    font-style: normal;
}

/* transition */

a{
    -webkit-transition: color 0.5s, background-color 0.5s;
    transition: color 0.5s, background-color 0.5s;
}

.network {
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
    color: red;
}

.wrap{
    padding: 4px;
}

#iotd{
    padding-bottom: 3px;
    border-bottom: 1px solid lightgray;
}

#pictures_title{
    display: inline-block;
    padding: 0 20px 0px 17px;
    font-size: 14px;
    background-color: #35a3ff;
    color: #fff;
}
.pictures{
    margin-top: 4px;
}
#iotd img{
    max-width: 150px;
    margin-right: 10px;
}

#wotd{
    margin-top: 6px;
    padding-bottom: 3px;
    border-bottom: 1px solid lightgray;
}
#wotd .box_title{
    display: inline-block;
    padding: 0 20px 0px 17px;
    font-size: 14px;
    background-color: red;
    color: #fff;
}

#wotd .title_entry a{
    display: block;
    font-size: 18px;
    color: #000;
    font-weight: bold;
}

#wotd .newline a{
    font-size: 16px;
    line-height: 20px;

    display: block;
}

#hot_topics{
    margin-top: 6px;
    padding-bottom: 3px;
    border-bottom: 1px solid lightgray;
}
#hot_topics #hot_topics_title {
    display: inline-block;
    padding: 0 20px 0px 17px;
    font-size: 14px;
    background-color: #4c4c4c;
    color: #fff;
}

#hot_topics ul{
    text-align: center;
    font-size: 1.2em;
}

#hot_topics ul li{
    display: inline-block;

}

#hot_topics ul li a{

}

.topic_1 {
    color: #2B6EFF;
}
.topic_2 {
    color: #B7BFCC;
}
.topic_3 {
    color: #EC0F8C;
}
.topic_4 {
    font-size: 1.5em;
    color: #FF801A;
}
.topic_5 {
    font-size: 0.9em;
    color: #00A9FF;
}
.topic_6 {
    font-size: 1.1em;
    color: #FFC300;
}
.topic_7 {
    color: #74AFAD;
}
.topic_8 {
    color: #A51890;
}
.topic_9 {
    color: #2ECC40;
}
.topic_10 {
    font-size: 1.2em;
    color: #FF3333;
}

#tcotw{
    margin-top: 6px;
    padding-bottom: 3px;
}

#tcotw .box_title{
    display: inline-block;
    padding: 0 20px 0px 17px;
    font-size: 14px;
    background-color: #f1d600;
    color: #fff;
}

#tcotw ul{
    text-align: center;
    font-size: 1.2em;
}

#tcotw ul li{
    display: inline-block;

}

#tcotw ul li a{

}
#all_topics{
    display: inline-block;
    padding: 0 20px 0px 17px;
    font-size: 14px;
    background-color: #FF3333;
    color: #fff;
    float: right;
}